<h1 class="mt-4">{{ title }}</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Reference</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin/contact/list">{{ title }}</a></li>
    <li class="breadcrumb-item active">Edit</li>
</ol>
<form autocomplete="off">
  <div class="card mb-4">
    <div class="card-header bg-danger text-white">
        <h6><i class="fas fa-edit"></i>&nbsp;Please fill in the form below</h6>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Name <span class="text-danger">*</span></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" >
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Email <span class="text-danger">*</span></label>
            <div class="col-sm-10">
                <input type="email" class="form-control" >
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Phone <span class="text-danger">*</span></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" >
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Website</label>
            <div class="col-sm-10">
                <input type="website" class="form-control" >
            </div>
        </div>
          <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Address <span class="text-danger">*</span></label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="6"></textarea>
            </div>
        </div>
    </div>
    <div class="card-footer clearfix">
        <div class="float-start">
              <a routerLink="/admin/contact/list" data-bs-toggle="tooltip" data-bs-placement="top" title="Back To List" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i>&nbsp;Back To List
              </a>
            &nbsp;
            <button type="submit" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Save From"><i class="fa fa-save"></i>&nbsp;Save Change</button>
        </div>
        <div class="float-end">
            <button type="reset" class="btn btn-warning text-white" data-bs-toggle="tooltip" data-bs-placement="top" title="Reset Form"><i class="fa fa-refresh"></i>&nbsp;Reset Form</button>
        </div>
    </div>
</div>
</form>
