<section class="py-5">
  <div class="container px-5">
      <div class="row gx-5 d-flex justify-content-center">
          <div class="col-md-5 mt-4">
              <div class="card mb-5 mb-xl-0">
                  <div class="card-body p-3 text-center">
                      <div class="alert alert-success">
                          <p><i class="fa fa-check-circle"></i>&nbsp;Your e-mail is already verified. You can now login. Thank you</p>
                      </div>
                      <div class="text-center">
                          <a class="btn w-100 btn-danger text-white" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here to continue" routerLink="/auth/login">Click here to continue..</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
